<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Antrian</title>

  <style>
    .antrian {
      height: 45vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .txt-antrian {
      font-size: 100px;
      font-weight: bold;
    }

    header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

footer {
  background-color: #777;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

  </style>
</head>
<body>

    <header>
        <h2>Antrian</h2>
      </header>
    
  <div class="antrian">
    <span id="txt-antrian" class="txt-antrian">
     Sedang di proses : {{ .antrian }}
    </span>
  </div>

  <footer>
      <p>
    <marquee scrolldelay=”300″> Selamat Datang, Harap Mengambil Nomor Antrian Terlebih Dahulu.</marquee>
</p>
  </footer>
  
 <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyCfdlvcbzml_lhkwi-Lu4kbaxAxARTDtvo",
    authDomain: "bagian3.firebaseapp.com",
    databaseURL: "https://bagian3.firebaseio.com",
    projectId: "bagian3",
    storageBucket: "bagian3.appspot.com",
    messagingSenderId: "303751994920",
    appId: "1:303751994920:web:651c2fe7948aa964fd1f1d",
    measurementId: "G-WN5T9127ND"
  };
 
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    var antrianRef = firebase.database().ref('antrian');
    antrianRef.on('value', function(snapshot) {
      const antrian = snapshot.val()
      const currentAntrian = antrian.find(item => item != null && item.status === false)

      document.getElementById('txt-antrian').innerText = currentAntrian.id
    });
  </script>
</body>
</html>